/*!
 * Marp / Marpit Uncover Custom theme
 *
 * @theme uncover-custom
 * @author Kazuki Tanaka (tk-aria)
 * @fittingCode false
 */

 @import 'uncover';

 section {
     font-size: 35px;
 }

 h1 {
     font-size: 1.7em;
 }

 h2 {
     font-size: 1.4em;
     position: absolute;
     top: 60px;
     left: 50px;
     text-decoration: underline;
 }

 /*
   h2,
   h3,
   h4,
   h5,
   h6 {
     strong {
       color: mix(#fff, $highlight, 20%);
     }
   }
 */